DATABASE_URL=postgres://admin:password@localhost:5432/shoppay

NEXTAUTH_URL=http://localhost:3200
NEXTAUTH_SECRET=change-me-shoppay

KEYCLOAK_CLIENT_ID=shoppay-app
KEYCLOAK_CLIENT_SECRET=shoppay-secret
KEYCLOAK_ISSUER=http://localhost:8080/realms/ecommerce-realm
